@model OgrenciNotMvc.Models.EntityFramework.TBLNOTLAR
@{
    ViewBag.Title = "NotGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("NotGetir", "Notlar", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.OgrID)
        @Html.TextBoxFor(m => m.OgrID, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Sınav1)
        @Html.TextBoxFor(m => m.Sınav1, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Sınav2)
        @Html.TextBoxFor(m => m.Sınav2, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Sınav3)
        @Html.TextBoxFor(m => m.Sınav3, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Proje)
        @Html.TextBoxFor(m => m.Proje, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Ortlama)
        @Html.TextBoxFor(m => m.Ortlama, new {@Value = @ViewBag.ort, @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Durum)
        @Html.TextBoxFor(m => m.Durum, new { @class = "form-control" })
    </div>


    @Html.HiddenFor(m => m.NotID)
<div>
    <button type="submit" name="islem" value="HESAPLA" class="btn btn-default">
        Hesapla
    </button>
    <br />
    <br />
    <button type="submit" name="islem" value="NOTGUNCELLE" class="btn btn-info">
        Güncelle
    </button>
</div>
}

